this is streamlit app
To run this code install all packages listed below, then on the terminal write streamlit run model.py 
then a new pop up window will open with streamlit app interface.




streamlit
torch
transformers
Pillow
requests
