.hero-content {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding-top: 4rem;
}

* {
  box-sizing: border-box;
}

.text-white {
  font-size: 36px;
  color: var(--color);
  text-align: left;
}

.h1 {
  color: var(--black);
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

@media (max-width: 991px) {
  .h1 {
    line-height: 130%;
    font-size: 32px;
  }
}

.tooltop {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
  margin-bottom: -3rem;
}

.head-tooltip {
  z-index: 6;
  background-color: var(--colors--purple-04);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 2rem;
  margin-bottom: -24px;
  padding-bottom: .5rem;
  display: flex;
  position: relative;
  transform: translate(0);
}

.tool-tip-image {
  width: 40px;
  height: auto;
  padding-top: .5rem;
}

.tool-tip-h3 {
  color: var(--color);
  width: auto;
  max-width: 400px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.arrow-down {
  z-index: 6;
  border-top: 10px solid var(--colors--purple-04);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 6px;
  width: 0;
  height: 2px;
  margin-top: 20px;
}

.paper-hero {
  position: relative;
  z-index: 5;
  background-image: linear-gradient(180deg, var(--bkg-none), white 41%);
  padding-top: 4rem;
  padding-bottom: 3rem;
  width: 100%;
  max-width: 558px;
}

.p-large {
  font-size: 24px;
  line-height: 150%;
  text-align: center; /* Center align the text */
}

@media (max-width: 991px) {
  .p-large {
    font-size: 22px;
  }
}

.text-span-2 {
  display: inline;
}

.bg-light-yellow {
  background-color: rgba(253, 232, 142, .8);
}

.browser__frame1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  width: 100%;
  height: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0 auto; /* Horizontally center the block */
}

.research-paper1 {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.paper-content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
  flex: 1; 
  margin: 5px; 
  margin: 0 auto; /* Horizontally center the block */
}

.blocks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}


@media (max-width: 768px) {
  .hero-content {
    padding-top: 2rem;
  }

  .browser__frame1 {
    max-width: 90%;
    padding: 10px;
    height: auto;
  }

  .tooltop, .head-tooltip, .tool-tip-h3, .arrow-down, .paper-hero {
    max-width: 100%;
  }

  .p-large {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .browser__frame1 {
    padding: 5px;
  }

  .h1 {
    font-size: 1rem;
  }

  .p-large {
    font-size: 18px;
  }
}
