.blocks-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.random-container {
  opacity: 0;
  transition: opacity 3s, transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  transform: translateY(20px); /* Start slightly shifted down */
}

.random-container.visible {
  opacity: 1;
  transform: translateY(0); /* Move to original position */
}

.content-block {
  border: 2px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 300px; /* Adjust to your needs */
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.random-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.random-paragraph {
  font-size: 18px;
  margin-bottom: 24px;
}

.content-block:hover {
  transform: translateY(-10px); /* Slight lift on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}
