<footer id="footer">
    <nav class="navbar fixed-bottom navbar-expand-lg bg-white">
        <div class="center mx-auto">

            <a class="navbar-brand" href="https://in.linkedin.com/in/gaurang-mote-349905230">
                <i class="fa-brands fa-linkedin fa-lg" style="color: #12296c;"></i>
              </a>
              <a class="navbar-brand"  href="mailto:gaurang.mote8@gmail.com">
                <i class="fa-solid fa-envelope fa-lg" style="color: #12296c;"></i>
              </a>  
              <a class="navbar-brand" href="https://github.com/gaurangmote">
                <i class="fa-brands fa-github fa-lg" style="color: #12296c;"></i>
              </a>
              
            </div>
        
    </nav>
</footer>