streamlit
wheel
transformers
langchain
langchain_community
langchain_google_genai
groq 
python-dotenv
tiktoken
sentence-transformers
faiss-cpu
InstructorEmbedding
google-generativeai
pypdf
PyPDF2
sqlparse
pdfplumber
accelerate
torch
