torch==2.0.1
torchvision==0.15.2
transformers==4.31.0
tqdm==4.65.0
numpy==1.23.5
pandas==2.0.3
scikit-learn==1.2.2
Pillow==9.5.0
matplotlib==3.7.1

# For CLIP
git+https://github.com/openai/CLIP.git@main

# For BLIP
git+https://github.com/salesforce/BLIP.git@main
