<div class="container-fluid container-fluid-custom">
  <div class="container mt-5">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              <h2 class="text-center mb-4">About PrepQuest</h2>
              <p class="lead">
                  PrepQuest is an innovative tool designed to help students prepare effectively for interviews. By taking your resume as input, PrepQuest generates tailored interview questions that align with your skills and experiences.
              </p>
              <p>
                  PrepQuest ensures a personalized preparation experience, helping you build confidence and readiness for any interview scenario. Whether you're aiming for tech giants or startups, PrepQuest equips you with the right questions to succeed.
              </p>
              <p class="text-center font-weight-bold mt-4">
                  Created by Gaurang Mote
              </p>
          </div>
      </div>
  </div>
</div>
